@import url('./default/index.css');
@import url('./root/palete.css');
@import url('./definition/index.css');
@import url('./root/config.css');

@import url('./components/main-components');

.aux {
	width: 750px;
	height: 500px;
	margin: 20px auto;
}
