@font-face {
	font-family: 'Poppins-light';
	font-style: normal;
	src: url('../../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-regular';
	font-style: normal;
	src: url('../../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-medium';
	font-style: normal;
	src: url('../../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-bold';
	src: url('../../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-semi-bold';
	src: url('../../fonts/Poppins-SemiBold.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins-light', sans-serif;
	font-style: normal;
	min-width: 0;
	text-transform: capitalize;
}

body {
	min-width: 310px;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--White);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	font-weight: 200;
	text-wrap: pretty;
}

.main {
	width: 100%;
	min-height: 100vh;
}

li {
	list-style: none;
}

a {
	color: var(--White);
	text-decoration: none;
}

input {
	outline: none;
}

button {
	cursor: pointer;
	border: none;
}