.product-section > .banner-services > .content > .title {
	font: var(--Heading5);
	color: var(--White);
}

.product-section > .banner-services {
	place-items: flex-start;
	width: 100%;
	background-color: var(--primary);
	padding: 3.5rem 3.57rem;
	grid-auto-flow: row;
}

.product-section > .banner-services > .content {
	width: 400px;
}

.product-section > .banner-services > .container {
	width: 100%;
	place-content: flex-start;
	justify-content: space-between;
}

.product-section
	> .banner-services
	> .container
	> .item-service
	> .container-description-service
	> .description-service {
	font: var(--Heading5);
}

.product-section > .banner-services > .container > .item-service > * {
	color: var(--White);
}

.product-section > .banner-services > .container > .item-service {
	/* background-color: yellow; */
	/* height: 285px; */
	/* place-items: flex-start; */
	/* padding: 1.5rem; */
	width: 410px;
	height: 235px;

	grid-auto-flow: row;
	gap: 0;
	place-content: center;
	place-items: flex-start;
	border-radius: var(--border-radius);
}

.product-section
	> .banner-services
	> .container
	> .item-service
	> .container-text-service
	> .text-service {
	font: var(--Paragraph);
	height: 125px;
	font-size: 0.9rem;
	text-align: justify;
}
