.banner-gennesis {
  width: 100%;
  height: 550px;
  background-image: url("../../../src/assets/background.jpg");

  position: relative;
}

.banner-gennesis::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 5;

  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.54);
}

.banner-gennesis > .container {
  position: absolute;
  top: 0;
  z-index: 6;

  gap: 65px;
  place-content: center;

  width: 100%;
  height: 100%;
}

.banner-gennesis > .container > .content {
  text-align: center;
  text-transform: capitalize;
  color: var(--zeros);
  /* background-color: red; */
}

.banner-gennesis > .container > .content > .subtitle {
  text-align: center;
  color: var(--zeros);
}
