.pair-button {
  gap: 15px;
  padding: 0.5rem;
  /* background-color: aquamarine; */
}

.btn-pair {
  border-radius: var(--border-radius-btn);
  padding: 0.7rem 2.5rem;
  text-transform: capitalize;
  font-size: var(--size-font-btn);
  background-color: var(--primary);
  color: var(--zeros);
}

.btn-border {
  background-color: transparent;
  border: 1px solid var(--zeros);
  color: var(--zeros);
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.8rem;
  /* background-color: red; */
  max-width: 650px;
  font-weight: 550;
}

.subtitle {
  /* background-color: rebeccapurple; */
  max-width: 415px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serifs;
  font-size: 0.8rem;
  text-align: justify;
  color: var(--void);
}
.title,
.subtitle {
  text-transform: capitalize;
}

.container {
  width: var(--width-container);
}
