.history {
  padding: var(--padding-card);
}

.history > .container {
  height: 100%;
  margin: auto;
  grid-auto-flow: column;
  gap: 0;
  justify-content: space-between;
}

.history > .container > .image > .img-history {
  width: 450px;
  height: 415px;
  border-radius: 15px;
  position: absolute;
  top: 0;
  object-fit: cover;
  box-shadow: var(--box-shadow-general);
}

.history > .container > .image {
  width: 450px;
  height: 453px;
  position: relative;
}

.history > .container > .image > .describe-content {
  position: absolute;
  bottom: 5px;
  background-color: var(--zeros);
  color: var(--primary);
  padding: 1.5rem 3.7rem;
  border-radius: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: capitalize;
  box-shadow: var(--box-shadow-general);
}

.history > .container > .content {
  width: 450px;
  place-items: flex-start;
  gap: 20px;
}

.history > .container > .content > .title {
  color: var(--primary);
}
.history > .container > .content > .subtitle {
  color: #333;
}
