/* Inline #1 | http://localhost:5173/ */

.service > .container > .content > .title {
  color: var(--primary);
}

.service > .container {
  grid-auto-flow: dense;
  flex-direction: column;
}

.service > .container > .image-content {
  grid-auto-flow: dense;
}

.service > .container > .image-content > .card-service {
  background-color: #fff;
  width: 300px;
  height: 275px;
  border-radius: 15px;
  padding: 2.5rem;
}

.service > .container > .image-content > .card-service > img {
  width: 150px;
  height: 150px;
}

.service > .container > .content {
  gap: 15px;
}
