.service {
  padding: var(--padding-card);
}

.service > .container {
  grid-auto-flow: row;
  margin: auto;
  gap: 50px;
}

.service > .container > .content > .title {
  color: var(--primary);
  text-align: center;
}

.service > .container > .image-content {
  width: 100%;
  justify-content: space-between;
}

.service > .container > .content {
  grid-auto-flow: row;
}

.service > .container > .image-content > .card-service {
  background-color: #fff;
  width: 245px;
  height: 255px;
  border-radius: 15px;
  padding: 2.5rem;
}

.service > .container > .image-content > .card-service > .descriptio-img {
  text-align: center;
  font-family: "Poppins-bold";
  font-weight: 500;
  text-transform: capitalize;
  color: var(--primary);
}

.service > .container > .content > .subtitle {
  text-align: center;
}

.actived {
  height: 350px;
}
