:root {
	/* Font */
	/* Display 01 */
	--Display01-400: 4.5rem 'Poppins-regular';
	--Display01-600: 4.5rem 'Poppins-semi-bold';

	/* Heading 01 */
	--Display01-600: 3.5rem 'Poppins-semi-bold';
	--Display01-400: 3.5rem 'Poppins-regular';

	/* Heading 02 */
	--Display02-600: 3rem 'Poppins-semi-bold';
	--Display02-400: 3rem 'Poppins-regular';

	/* Heading 03 */
	--Display03-600: 2.5rem 'Poppins-semi-bold';
	--Display03-400: 2.5rem 'Poppins-regular';

	/* Heading 04*/
	--Display04-600: 2.25rem 'Poppins-semi-bold';
	--Display04-400: 2.25rem 'Poppins-regular';

	/* Heading 05*/
	--Display05-600: 2.25rem 'Poppins-semi-bold';
	--Display05-400: 2.25rem 'Poppins-regular';

	/* Body XXL */
	--Body-XXL-400: 1.5rem 'Poppins-regular';
	--Body-XXL-500: 1.5rem 'Poppins-medium';
	--Body-XXL-600: 1.5rem 'Poppins-semi-bold';

	/* Body XL */
	--Body-XL-400: 1.25rem 'Poppins-regular';
	--Body-XL-500: 1.25rem 'Poppins-medium';
	--Body-XL-600: 1.25rem 'Poppins-semi-bold';

	/* Body Large */
	--Body-Large-400: 1.125rem 'Poppins-regular';
	--Body-Large-500: 1.125rem 'Poppins-medium';
	--Body-Large-600: 1.125rem 'Poppins-semi-bold';

	/* Body Medium */
	--Body-Medium-400: 1rem 'Poppins-regular';
	--Body-Medium-500: 1rem 'Poppins-medium';
	--Body-Medium-600: 1rem 'Poppins-semi-bold';

	/* Body Normal */
	--Body-Small-400: 0.875rem 'Poppins-regular';
	--Body-Small-500: 0.875rem 'Poppins-medium';
	--Body-Small-600: 0.875rem 'Poppins-semi-bold';

	/* Body XL */
	--Body-Tiny-400: 0.75rem 'Poppins-regular';
	--Body-Tiny-500: 0.75rem 'Poppins-medium';
	--Body-Tiny-600: 0.75rem 'Poppins-semi-bold';

	/* CAPS LOCK */

	/*  */

	/* fill */

	/* Colors */
	/* Green Gray Scale */
	--900: #002603;
	--800: #173b1a;
	--700: #2b572e;
	--600: #406b42;
	--500: #618062;
	--400: #7a997c;
	--300: #96b297;
	--200: #b4ccb4;
	--100: #dae5da;
	--50: #edf2ee;

	/* Gray Scale */
	--Gray-900: #1a1a1a;
	--Gray-800: #333333;
	--Gray-700: #4d4d4d;
	--Gray-600: #666666;
	--Gray-500: #808080;
	--Gray-400: #999999;
	--Gray-300: #b3b3b3;
	--Gray-200: #cccccc;
	--Gray-100: #e6e6e6;
	--Gray-50: #f2f2f2;
	--White: #ffffff;

	/* Primary colors */
	--Success-Bright: #84d187;
	--Success: #00b207;
	--Success-Dark: #2c742f;
	--Warning: #ff8a00;
	--Error: #ea4b48;

	/* Shadow */
	--Hover-Shadow: 0 0 0 12px rgba(32, 181, 38, 0.32);
	--Blog-Shadow: 0 0 0 20px rgba(8, 7, 54, 0.1);
	--Line-Shadow: 0 1px 0 0 rgba(229, 229, 229, 1);
	--Featured: 0 0 0 32px rgba(0, 0, 0, 0.8);
	--Leaf-Blur: 4px;

	--box-shadow-general: 0px 0px 15px 5px rgba(51, 51, 51, 0.09);
}
